body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

#game-wrapper {
    text-align: center;
}

#game-container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #000;
    overflow: hidden;
    margin: 0 auto;
}

#game-canvas {
    width: 100%;
    height: 100%;
}

#score-container, #timer-container {
    margin-bottom: 10px;
    font-size: 20px;
}